{% extends "MAESTRA.html" %}

{% block titulo %}

{% endblock %}


{% block estilos %}



{% endblock %}


{% block contenido %}

<div class="buttons_modal">

    <div>
        <button class="button clickable-modal" data-target="modal1" id="">
            +
        </button>
    </div>

</div>


<div class="modal_space" id="modal1">
    <div class="modal_dialog">
        gaaa
        <div>
            <button class="close_modal">
                Cerrar
            </button>
        </div>
    </div>

</div>


{% endblock %}



{% block scripts %}


{% endblock %}