{% extends "MAESTRA.html" %}

{% block titulo %}
Calendario
{% endblock %}


{% block estilos %}

<style>
    :root {
        --width: 150px;
        --height: 100px;
    }

    th , td {
        border: 1px solid #ffffffae;
        text-align: center;
        border-radius: 5px;
    }

    th {
        min-width: var(--width);
        font-weight: normal;
    }
    
    /* th:first-of-type {
        min-width: 100px;
    } */
    
    thead th.head_col {
        min-width: var(--width);
        width: 100%;
        background: var(--bg_table);
        position: sticky;
        top: var(--sizeT);
        z-index: 110;
    }

    tbody td.head_row {
        position: sticky;
        left: var(--sizeT);
        background: var(--bg_table); 
        z-index: 109;     
        height: var(--height);
    }

    thead th:first-child {
        position: sticky;
        top: var(--sizeT);
        left: var(--sizeT);
        z-index: 111; 
        background-color: rgb(37, 37, 37);
    }
    
    td {
        border: 1px solid var(--cc);
    }
    
    .activity_cell {
        --cc: #ffffff32;
    }

    .other_hour {
        --cc: #0078af73;
    }

    .current_date {
        --cc: color-mix(in srgb, #ffffff49 50%, var(--color3) 100%) ;
    }
    
    .tomorrow_date {
        --cc: #ffffff6b;
    }

    .current_datetime {
        animation: alert 0.5s infinite;
    }

    @keyframes alert {

        0%,
        100% {
            border: 1px solid var(--color2);
        }

        50% {
            border: 1px solid var(--color4);
        }
    }

</style>

<style>
    .buttons {
        display: flex;
        gap: 10px;
    }

    table {
        border-collapse: separate;
        border-spacing: 2px;
    }

    :root {
        --bg_table: #3b3b3b;
        --sizeT: 1px;
    }

    .container_calendar {
        padding: var(--sizeT);
    }
    
    .container_grid {
        grid-template-columns: 3fr 1fr;
    }

    .container_calendar {
        overflow: auto;
        position: relative;
        max-height: 85vh;
        background-color: rgba(0, 0, 0, 0.316);
        border-radius: 5px;
    }
</style>
<link rel="stylesheet" href="/static/css/actividad_items.css">

<style>
    :root {
        --sizeItemIcon: 30px;
    }

    .list_items {
        display: flex;
        flex-direction: column;
        gap:     5px;
        padding: 5px;
    }

    .item {
        padding: 5px;
        border-radius: 5px;
        gap: 10px;
        font-size: 90%;
        display: flex;
        flex-direction: column;
    }

    .i_icon {
        grid-area: i_i;
        height: var(--sizeItemIcon);
        width: var(--sizeItemIcon);
        /* aspect-ratio: 1 / 1 ; */
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }
    
    .i_icon i {
        font-size: 120%;
    }

    .i_start {
        display: flex;
        gap: 5px;
    }

    .i_info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .i_nombre {
        text-align: left;
    }

    .i_titulo {
        padding: 0;
        text-align: left;
    }

    .i_titulo {
        padding: 0;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        display: block;
        width: calc( var(--width) - var(--sizeItemIcon) - 35px ) ;
    }

    .i_tipo {
        color: #cecece;
        font-size: 90%;
        text-align: left;
    }

    .i_fecha {
        text-align: left;
        color: #b1b1b1;
        font-size: 85%;
    }
    
    .modal_dialog {
        width: 550px;
    }

    .modal_body {
        grid-template-columns: repeat( 2 , 1fr );
    }

</style>
{% endblock %}



{% block contenido %}

{% set format_date_col = "%m-%d" if modo_simple else "%Y-%m-%d" %}

{% if modo_simple %}
<style>
    :root {
        --width:  50px;
        --height: 10px;
    }

    th:first-of-type {
        min-width: var(--width);
    }

    .list_items {
        padding: 2px;
        gap: 2px;
    }

    .item {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .i_icon {
        height: var(--height) ;
        width: var(--sizeItemIcon);
        font-size: 95%;
        width: calc( var(--width) - 5px );
        font-weight: bold;
    }

    .i_icon i {
        font-size: 100%;
    }

</style>
{% endif %}


<div class="container_title">
    <p class="title">
        Calendario
    </p>

    <div class="buttons">
        <a class="button" href="{{url_for('change_modo_simple')}}">
            Modo simple {{modo_simple}}
        </a>
        
        <a class="button" href="{{url_for('change_ver_dias')}}">
            Ver días {{ver_dias}}
        </a>

        <div class="clickable-modal button btn_insert" data-target="insert_actividad">
            <i class="fa-solid fa-plus"></i>
            Agregar actividad
        </div>
    </div>
</div>
    
{% set local_date = local_datetime.strftime("%Y-%m-%d") %}
{% set local_hour = local_datetime.strftime("%H") | int %}
{% set local_minute = local_datetime.strftime("%M") | int %}

<div class="container_grid">
    <div class="container_calendar">
        <table>
            <thead>
                <th class="head_cell">
                    <div>
                        {{ local_datetime.strftime(format_date_col) }}
                    </div>
                    <div>
                        {{ local_datetime.strftime("%H : %M") }}
                    </div>
                </th>
                {% for col in columnas %}
                <th class="head_col">
                    <div>
                        <div>
                            {{ col[0].strftime(format_date_col) }}
                        </div>
                        <div>
                            {{ dias[col.1][:3] if modo_simple else dias[col.1] }}
                        </div>
                    </div>
                </th>
                {% endfor %}
            </thead>
            <tbody>
                {% for fil in filas %}
                    <tr>
                        <td class="head_row" data-hora="{{fil.0}}">
                            {{ fil.0 }} : {{ fil.1 }}
                        </td>

                        {% for colu in columnas %}

                        {% set cf = colu.0.strftime("%Y-%m-%d") %}
                        {% set col_fecha = cf|add_days(1) if fil.0 + DIFH < local_hour else cf %}
                        {% set col_dia   = colu.1 + 1         if fil.0 + DIFH < local_hour else colu.1 %}

                        <td class="activity_cell 
                        {{ 'other_hour' if local_hour > fil.0 else '' }}
                        {{ 'current_date' if local_date == col_fecha else '' }}
                        {{ 'tomorrow_date' if local_date|add_days(1) == col_fecha else '' }}
                        {{ 'current_datetime' if local_date == col_fecha and local_hour == fil.0 else '' }}
                        " >
                            <div class="list_items" data-fecha="{{col_fecha}}" data-hora="{{fil.0}}">
                                
                                {% for a in actividades  %}
                                    {% set a_date = a.fecha.strftime("%Y-%m-%d") %}
                                    {% set tomorrow = a_date|add_days(1) %}

                                    {% set a_hora = a.fecha.strftime("%H") | int %}
                                    {% set a_minuto = a.fecha.strftime("%M") %}

                                    {% if  fil.0 == a_hora and a_date == col_fecha  %}


                                    <style>
                                        .item[data-id="{{a.id}}"] {
                                            background-color: color-mix(in srgb, transparent 100%, {{a.color}} 20%) ;
                                            border: 1px solid {{a.color}} ;
                                        }

                                        .item[data-id="{{a.id}}"] .i_icon {
                                            background-color: {{ a.color }};
                                        }

                                        .item[data-id="{{a.id}}"] .i_titulo {
                                            color: color-mix(in srgb, white 25%, {{ a.color }} 100%) ;
                                        }
                                    </style>
                                    {% if not modo_simple %}

                                    <div class="item" data-id="{{a.id}}">
                                        <div class="i_start">
                                            <div class="i_icon">
                                                {% if a.icono %}
                                                    <i class="{{a.icono}}"></i>
                                                {% else %}
                                                    {{ a.siglas }}
                                                {% endif %}
                                            </div>

                                            <div class="i_info">
                                                <div class="i_titulo">
                                                    {{ a.titulo }}
                                                </div>

                                                <div class="i_tipo">
                                                    {{ a.tipo }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="i_nombre">
                                            {{ a.nombre }}
                                        </div>
                                        
                                        <div class="i_fecha">
                                            {{ a.fecha }}
                                        </div>

                                    </div>
                                    {% else %}
                                    <div class="item" data-id="{{a.id}}">
                                        <div class="i_start">
                                            <div class="i_icon">
                                                {% if a.icono %}
                                                    <i class="{{a.icono}}"></i>
                                                {% else %}
                                                    {{ a.siglas }}
                                                {% endif %}
                                            </div>

                                        </div>
                                    </div>
                                    {% endif %}


                                    {% endif %}
                                {% endfor %}
                            </div>
                        </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container_list">
        {% macro create_actividad(a) %}
        <style>
            .actividad[data-id="{{a.id}}"] {
                background-color: color-mix(in srgb, transparent 100%, {{a.color}} 10%);
                border: 1px solid {{ a.color }};
            }

            .actividad[data-id="{{a.id}}"] .a_icon {
                background-color: {{a.color}} ;
            }
            
            .actividad[data-id="{{a.id}}"] .a_titulo {
                color: color-mix(in srgb, {{a.color}} 100%, white 50%) ;
            }

            .actividad[data-id="{{a.id}}"] .a_buttons .button {
                border: 1px solid {{ a.color }} ;
                color: color-mix(in srgb, {{a.color}} 100%, white 50%) ;
            }

            .actividad[data-id="{{a.id}}"] .a_buttons .button:hover {
                /* color: {{ a.color }}; */
                border: 1px solid {{ a.color }} ;
                color: color-mix(in srgb, {{a.color}} 75%, white 100%) ;
            }

        </style>

        <div class="actividad" data-id="{{a.id}}">
            <div class="a_icon">
                {% if a.icono %}
                    <i class="{{a.icono}}"></i>
                {% else %}
                    {{ a.siglas }}
                {% endif %}
            </div>
            
            <div class="a_info">
                <div class="a_titulo">
                    {{ a.titulo }}
                </div>

                <div class="a_nombre">
                    {{ a.nombre }}
                </div>
            </div>
            
            <div class="a_end">
                <div class="a_fecha">
                    {{ a.fecha }}
                </div>
                |
                <div class="a_tipo">
                    {{ a.tipo }}
                </div>
            </div>

            <div class="a_buttons">
                <div class="clickable-modal button btn_consult">
                    <i class="fa-solid fa-eye"></i>
                </div>
                <div class="clickable-modal button btn_update" data-target="update_actividad_{{a.id}}">
                    <i class="fa-solid fa-pencil"></i>
                </div>
                <div class="clickable-modal button btn_delete">
                    <i class="fa-solid fa-trash"></i>
                </div>
            </div>
        </div>
        {% endmacro %}


        {% for a in actividades %}

            {{ create_actividad(a) }}
        
        {% endfor %}
    </div>
</div>


<div class="modal_space" id="insert_actividad">
    <form class="modal_dialog modal_form" action=" {{ url_for('guardar_actividad') }} " method="post">
        <div class="modal_header">
            Agregar actividad
        </div>
        
        <div class="modal_body">
            <div class="modal_container">
                <div class="form_field">
                    <label for="">Nombre</label>
                    <input type="text" name="nombre" id="" required>
                </div>

                <div class="form_field">
                    <label for="">Fecha</label>
                    <!-- <input type="datetime-local" name="fecha" id="" > -->
                    <div style="display: grid; gap: 10px; grid-template-columns: 2fr 1fr;">
                        <input type="date" name="fecha" id="" >
                        <select name="hora" id="">
                            {% for h in range(24) %}
                            <option value="{{h}}">{{h}}:00</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                
                <div class="form_field">
                    <label for="">Tipos</label>
                    <select name="tipo_actividadid" id="">
                        <option value=""> Sin tipo </option>
                        {% for t in tipo_actividades %}
                        <option value="{{t.id}}">{{ t.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="form_field">
                    <label for="">Descripcion</label>
                    <textarea name="descripcion" id=""></textarea>
                </div>
            </div>

            <div class="modal_container">
                <div class="modal_navs">
                    <div class="nav nav_active" data-target="c_grupo">
                        Grupo
                    </div>
                    <div class="nav" data-target="c_contexto">
                        Contexto
                    </div>
                    <div class="nav" data-target="c_ind">
                        Independiente
                    </div>
                </div>

                <div class="modal_containers modal_navs_containers">

                    <div class="modal_container" id="c_grupo">
                        <div class="form_field">
                            <label for="">Grupos</label>

                            {% for g in grupos %}
                            <style>
                                .form_radio[data-grupoid="{{g.id}}"] {
                                    border: 1px solid {{g.color}};
                                }
                            </style>
                            <div class="form_radio" data-grupoid="{{g.id}}">
                                <input type="radio" name="grupoid" id="grupoid_{{g.id}}" value="{{g.id}}">
                                <label for="grupoid_{{g.id}}">{{ g.cu_siglas }} - {{ g.cu_nombre }} - {{ g.gr_nombre }}</label>
                            </div>
                            {% endfor %}
                        </div>                    
                    </div>

                    <div class="modal_container" id="c_contexto">
                        <div class="form_field">
                            <label for="">Contextos</label>

                            {% for c in contextos %}
                            <style>
                                .form_radio[data-contextoid="{{c.id}}"] {
                                    border: 1px solid {{c.color}};
                                }
                            </style>
                            <div class="form_radio" data-contextoid="{{c.id}}">
                                <input type="radio" name="contextoid" id="contextoid_{{c.id}}" value="{{c.id}}">
                                <label for="contextoid_{{c.id}}">{{c.siglas}} - {{c.nombre}}</label>
                            </div>
                            {% endfor %}
                            
                        </div>
                    </div>
                    
                    <div class="modal_container" id="c_ind">
                        <div class="form_field">
                            <label for="">Siglas</label>
                            <input type="text" name="siglas" id=""  minlength="1" maxlength="5" style="width: 60px;" >
                        </div>

                        <div class="form_field">
                            <label for="">Icono</label>
                            <input type="text" name="icono" id="" >
                        </div>

                        <div class="form_field">
                            <label for="">Color</label>
                            <input type="color" name="color" id="" >
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="modal_footer">
            <button class="button close_modal" type="reset">
                Cerrar
            </button>
            <button class="button submit_modal" type="submit">
                Guardar
            </button>
        </div>
    </form>
</div>


{% for a in actividades %}

<div class="modal_space" id="update_actividad_{{a.id}}">
    <form class="modal_dialog modal_form" action=" {{ url_for('update_actividad') }} " method="post">
        <div class="modal_header">
            Editar actividad "{{ a.nombre }}"
        </div>

        <input type="hidden" name="id" value="{{a.id}}">
        
        <div class="modal_body">
            <div class="modal_container">
                <div class="form_field">
                    <label for="">Nombre</label>
                    <input type="text" name="nombre" id="" value="{{ a.nombre }}" required>
                </div>

                <div class="form_field">
                    <label for="">Fecha</label>
                    <div style="display: grid; gap: 10px; grid-template-columns: 2fr 1fr;">
                        <input type="date" name="fecha" id="" value="{{ a.fecha.strftime('%Y-%m-%d') }}" required>
                        <select name="hora" id="" required>
                            {% for h in range(24) %}
                            <option value="{{h}}" {{ 'selected' if a.fecha.strftime("%H") | int == h | int else '' }} >{{h}}:00</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                
                <div class="form_field">
                    <label for="">Tipos</label>
                    <select name="tipo_actividadid" id="">
                        <option value=""> Sin tipo </option>
                        {% for t in tipo_actividades %}
                        <option value="{{t.id}}" {{ 'selected' if a.tipo_actividadid == t.id else '' }}>{{ t.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="form_field">
                    <label for="">Descripcion</label>
                    <textarea name="descripcion" id="">{{ a.descripcion }}</textarea>
                </div>
            </div>

            <div class="modal_container">
                <div class="modal_navs">
                    <div class="nav {{ '' if a.grupoid is none else 'nav_active' }}" data-target="c_grupo">
                        Grupo
                    </div>
                    <div class="nav {{ '' if a.contextoid is none else 'nav_active' }}" data-target="c_contexto">
                        Contexto
                    </div>
                    <div class="nav {{ '' if a.grupoid is none or a.contextoid is none else 'nav_active' }}" data-target="c_ind">
                        Independiente
                    </div>
                </div>

                <div class="modal_containers modal_navs_containers">

                    <div class="modal_container" id="c_grupo">
                        <div class="form_field">
                            <label for="">Grupos</label>

                            {% for g in grupos %}
                            <style>
                                .form_radio[data-grupoid="{{g.id}}"] {
                                    border: 1px solid {{g.color}};
                                }
                            </style>
                            <div class="form_radio" data-grupoid="{{g.id}}">
                                <input type="radio" name="grupoid" id="grupoid_{{g.id}}" value="{{g.id}}" {{ 'checked' if g.id == a.grupoid else '' }} >
                                <label for="grupoid_{{g.id}}">{{ g.cu_siglas }} - {{ g.cu_nombre }} - {{ g.gr_nombre }}</label>
                            </div>
                            {% endfor %}
                        </div>                    
                    </div>

                    <div class="modal_container" id="c_contexto">
                        <div class="form_field">
                            <label for="">Contextos</label>

                            {% for c in contextos %}
                            <style>
                                .form_radio[data-contextoid="{{c.id}}"] {
                                    border: 1px solid {{c.color}};
                                }
                            </style>
                            <div class="form_radio" data-contextoid="{{c.id}}">
                                <input type="radio" name="contextoid" id="contextoid_{{c.id}}" value="{{c.id}}" {{ 'checked' if c.id == a.contextoid else '' }} >
                                <label for="contextoid_{{c.id}}">{{c.siglas}} - {{c.nombre}}</label>
                            </div>
                            {% endfor %}
                            
                        </div>
                    </div>
                    
                    <div class="modal_container" id="c_ind">
                        <div class="form_field">
                            <label for="">Siglas</label>
                            <input type="text" name="siglas" id=""  minlength="1" maxlength="5" style="width: 60px;" >
                        </div>

                        <div class="form_field">
                            <label for="">Icono</label>
                            <input type="text" name="icono" id="" >
                        </div>

                        <div class="form_field">
                            <label for="">Color</label>
                            <input type="color" name="color" id="" >
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="modal_footer">
            <button class="button close_modal" type="reset">
                Cerrar
            </button>
            <button class="button submit_modal" type="submit">
                Guardar
            </button>
        </div>
    </form>
</div>


{% endfor %}


{% endblock %}



{% block scripts %}

{% endblock %}