{% extends "MAESTRA.html" %}

{% block titulo %}
    Grupo {{ grupo.semestrecodigo }} - {{ grupo.gr_nombre }} - {{ grupo.cu_nombre }}
{% endblock %}


{% block estilos %}
<style>
    :root {
        --color-curso: {{ grupo.color }};
    }

    .container_unidad * {
        display: flex;
        justify-content: space-between;
    }

    .unidad {
        border: 1px solid var(--color-curso);
        gap: 10px;
        flex-direction: column;
        border-radius: 5px;
    }

    .u_info {
        padding: 5px;
        padding-inline: 10px;
        background-color: var(--color-curso);
    }

    .u_por , .n_por {
        border-radius: 5px;
        background-color: white;
        color: var(--colorbg1);
        padding-inline: 5px;
        font-weight: bold;
    }

    .u_por {
        color: var(--color-curso);
    }

    .u_nota {
        flex-direction: column;
        gap: 5px;
        padding-inline: 10px;
        padding-bottom: 10px;
    }

    .u_nom {
        display: flex;
        gap: 5px;
    }

    .u_btn {
        background-color: white;
        color: var(--color-curso);
        border-radius: 5px;
        height: 20px;
        width:  20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .u_btn i {
        display: flex;
        justify-content: center;
    }

</style>
{% endblock %}


{% block contenido %}


<div class="container_title">
    <p class="title">
        Grupo {{ grupo.semestrecodigo }} - {{ grupo.gr_nombre }} - {{ grupo.cu_nombre }}
    </p>

    <div class="buttons">
        <div class="clickable-modal button btn_insert" data-target="insert_unidad">
            <i class="fa-solid fa-plus"></i>
            Agregar unidad
        </div>
    </div>
</div>

<div class="container_list container_unidad">
    {% for unidad in unidades %}
    <div class="unidad">
        <div class="u_info">
            <div class="u_nom" data-unidadid="{{ unidad.id }}">
                <div class="clickable-modal u_btn" data-target="insert_nota_grupoid_{{unidad.id}}">
                    <i class="fa-solid fa-plus"></i>
                </div>
                <div>
                    {{ unidad.nombre }}
                </div>
            </div>
            <div class="u_por">
                {{ unidad.porcentaje }} %
            </div>
        </div>
        <div class="u_nota">
            {% for nota in notas if nota.unidadid == unidad.id %}
            <div class="nota">
                <div class="n_nom" data-notaid="{{ nota.id }}">
                    {{ nota.nombre }} 
                </div>
                <div class="n_por">
                    {{ nota.porcentaje }} %
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>


<div class="modal_space" id="insert_unidad">
    <form class="modal_dialog modal_form" action="{{ url_for('guardar_unidad') }}" method="post">
        <div class="modal_header">
            Agregar unidad
        </div>
        
        <div class="modal_body">
            <div class="modal_container">
                <div class="form_field">
                    <label for="">Nombre</label>
                    <input type="text" name="nombre" id="" required>
                </div>
                
                <div class="form_field">
                    <label for="">Porcentaje</label>
                    <input type="number" name="porcentaje" id="" required>
                </div>

                <input type="hidden" name="grupoid" value="{{ grupo.id }}">
            </div>
            
        </div>

        <div class="modal_footer">
            <button class="button close_modal" type="reset">
                Cerrar
            </button>
            <button class="button submit_modal" type="submit">
                Guardar
            </button>
        </div>
    </form>
</div>


{% for u in unidades %}

<div class="modal_space" id="insert_nota_grupoid_{{u.id}}">
    <form class="modal_dialog modal_form" action="{{ url_for('guardar_unidad') }}" method="post">
        <div class="modal_header">
            Editar unidad {{u.nombre}}
        </div>
        
        <div class="modal_body">
            <div class="modal_container">
                <div class="form_field">
                    <label for="">Nombre</label>
                    <input type="text" name="nombre" id="" required>
                </div>
                
                <div class="form_field">
                    <label for="">Porcentaje</label>
                    <input type="number" name="porcentaje" id="" required>
                </div>

                <input type="hidden" name="grupoid" value="{{ grupo.id }}">
            </div>
            
        </div>

        <div class="modal_footer">
            <button class="button close_modal" type="reset">
                Cerrar
            </button>
            <button class="button submit_modal" type="submit">
                Guardar
            </button>
        </div>
    </form>
</div>

{% endfor %}




{% endblock %}



{% block scripts %}
<script>
    // pintarElemento('.u_por');

    update_name_element_bd_table( '.u_nom' , 'unidad' , 'nombre' , 'unidadid');
    update_name_element_bd_table( '.m_nom' , 'nota' , 'nombre' , 'notaid');
    
</script>
{% endblock %}