{% extends "maestra_general.html" %}

{% block titulo %}
Horario
{% endblock %}

{% block estilos %}
<link rel="stylesheet" href="/static/css/horario.css">
{% endblock %}

{% block contenido %}

<div class="grid-container">
    <div id="grid" style="
        grid-template-columns: repeat( {{CANTCOLSAD}} , {{sizeCOLad}}) repeat({{cantCol}}, {{sizeCOL}}); 
        grid-template-rows: repeat( {{CANTROWSAD}} , {{sizeROWad}} ) repeat({{cantRow}} , {{sizeROW}});
        grid-gap: {{sizeGAP}};
        ">

        <div class="cell grid_head space_hour" style="grid-area: {{CANTROWSAD - 1}} / 1 / {{CANTROWSAD }} / {{CANTCOLSAD + 1 }} ; top: 0; left: 0; ">DIA</div>
        <div class="cell grid_head space_hour" style="grid-area: {{CANTROWSAD}} / 1 / {{CANTROWSAD + 1}} / {{CANTCOLSAD + 1}} ; top: calc({{sizeROWad}} + {{sizeGAP}}); left: 0; ">HORA</div>

        {% for dia in BASE_dias %}
            <div class="cell grid_head cell_day" 
            style="grid-area: {{CANTROWSAD-1}} / {{loop.index0 + CANTCOLSAD + 1}} / {{CANTROWSAD }} / {{loop.index0 + 1 + CANTCOLSAD + 1}} ; top: 0 ;  "
            >
                {{ BASE_NOMBRE_DIAS[dia % 7] }}
            </div>

            <div class="cell grid_head cell_date" 
            style="grid-area: {{CANTROWSAD}} / {{loop.index0 + CANTCOLSAD + 1}} / {{CANTROWSAD +1 }} / {{loop.index0 + 1 + CANTCOLSAD + 1}} ; top: calc({{sizeROWad}} + {{sizeGAP}}); "
            >
                {{ BASE_fechas[loop.index0] }}
            </div>

        {% endfor %}

        <div class="cell colday"
            style="grid-area: {{CANTROWSAD + 1}} / 1 / {{ (23 - BASE_horas[0] + 1) * (cantMin ) + CANTROWSAD + 1}} / 2 ; left: 0 ; ">
            {{ BASE_NOMBRE_DIAS[ (DIF_DAYS + BASE_dias[0]) % 7 ] }}
        </div>

        {% if not BASE_horas[0] == 0 %}
        <div class="cell colday"
            style="grid-area: {{ (23 - BASE_horas[0] + 1) * (cantMin ) + CANTROWSAD + 1 }} / 1 / {{ (23 - BASE_horas[0] + 1 + BASE_horas[23] + 1) * cantMin + CANTROWSAD + 1  }} / 2 ; left: 0 ; ">
            {{ BASE_NOMBRE_DIAS[ (DIF_DAYS + BASE_dias[0] + 1) % 7 ] }}
        </div> 
        {% endif %}

        {% for hora in BASE_horas %}
            {% for minuto in BASE_minutos %}
                {% for dia in range(cantDay) %}
                    
                    {% set row_ini = CANTROWSAD + 1 + ( hora ) * cantMin + BASE_minutos.index(minuto) %} 
                    {% set col_ini = CANTCOLSAD + 1 + dia %} 
                    {% set row_fin = row_ini + 1  %} 
                    {% set col_fin = col_ini + 1 %} 

                    <div 
                        {% if hora <= BASE_horas.index(23) %}
                            class="cell empty_cell"
                        {% else %}
                            class="cell empty_cell_2"
                        {% endif %}
                        style="grid-area: 
                        {{ row_ini }} /
                        {{ col_ini }} / 
                        {{ row_fin }} / 
                        {{ col_fin }} ; "
                        >
                    </div>

                {% endfor %}
            {% endfor %}
        {% endfor %}

        {% for hora in BASE_horas %}
            {% set hora_index = loop.index0 %} 
            <div class="cell space_hour"
                style="grid-area: {{ (hora_index * cantMin) + CANTROWSAD + 1  }} / {{CANTCOLSAD-1}} / {{ ((hora_index + 1) * cantMin) + CANTROWSAD + 1}} / {{CANTCOLSAD}} ; left: calc( {{sizeCOLad}} + {{sizeGAP}}) ; ">
                {{ hora }}
            </div>
            {% for minuto in BASE_minutos %}
                {% set minuto_index = BASE_minutos.index(minuto) %}
                <div data-minute="{{ minuto }}" class="cell space_minute" 
                    style="grid-area: {{ (hora_index * cantMin) + minuto_index + CANTROWSAD + 1 }} / {{CANTCOLSAD}} / {{ (hora_index * cantMin) + minuto_index + CANTROWSAD+2 }} / {{CANTCOLSAD+1}} ; left: calc( (  {{sizeCOLad}} + {{sizeGAP}}) * 2) ; ">
                    {{ minuto }}
                </div>
            {% endfor %}
        {% endfor %}

        {% for dia in BASE_dias %}
            {% for act in actividades %}
                {% if act[3] == dia %}
                
                    {% set act_nom = act[1] %}
                    {% set act_desc = act[2] %}
                    {% set act_time = act[4] ~":"~ ("%02d"|format(act[5])) ~" - "~  act[6] ~":"~ ("%02d"|format(act[7])) %}                 
                    {% set act_color = act[11] %}

                    {% set hora_index_ini = BASE_horas.index(act[4]) %}
                    {% set hora_index_fin = BASE_horas.index(act[6]) %}
                    {% set columna_dia = BASE_dias.index(act[3]) + CANTCOLSAD + 1 %}
                    {% set fila_inicio = (hora_index_ini * cantMin) + BASE_minutos.index(act[5]) + CANTROWSAD + 1 %}
                    {% set fila_fin    = (hora_index_fin * cantMin) + BASE_minutos.index(act[7]) + CANTROWSAD + 1  %}
                

                    {% if act[4] < BASE_horas[0] and (BASE_horas[0] < act[6] or BASE_horas[23] + 1 == act[6] )  %}

                        {% if CANTROWSAD + 1 != fila_fin %}
                            <div class="cell actividad"
                            style="grid-area: {{ CANTROWSAD +1 }} / {{ columna_dia }} / {{ fila_fin }} / {{ columna_dia + 1 }}; background-color: {{act_color}}; ">
                                <!-- <p>1</p> -->
                                <p>{{ act_nom }}</p>
                                {% if act_desc  %}
                                    <p>{{ act_desc }}</p>
                                {% endif  %}
                                <p>{{ act_time }}</p>
                            </div>
                        {% endif %}

                        {% if CANTCOLSAD + 1 != columna_dia %}
                            <div class="cell actividad"
                            style="grid-area: {{ fila_inicio }} / {{ columna_dia - 1 }} / {{ 24 * cantMin + CANTROWSAD+ 1 }} / {{ columna_dia }}; background-color: {{act_color}}; ">
                                <!-- <p>2</p> -->
                                <p>{{ act_nom }}</p>
                                {% if act_desc  %}
                                    <p>{{ act_desc }}</p>
                                {% endif  %}
                                <p>{{ act_time }}</p>
                            </div>
                        {% endif %}
                        
                    {% elif act[4] < BASE_horas[0]  and BASE_dias[0] + DIF_DAYS == act[3] %}

                        {% if CANTCOLSAD + 1 != columna_dia %}
                            <div class="cell actividad"
                            style="grid-area: {{fila_inicio}} / {{columna_dia - 1 }} / {{fila_fin}} / {{columna_dia }}; background-color: {{act_color}}; ">
                                <!-- <p>3</p> -->
                                <p>{{ act_nom }}</p>
                                {% if act_desc  %}
                                    <p>{{ act_desc }}</p>
                                {% endif  %}
                                <p>{{ act_time }}</p>
                            </div>
                        {% endif %}

                    {% elif act[4] < BASE_horas[0] and act[6] <= BASE_horas[23] %}
                        {% if CANTCOLSAD + 1 != columna_dia %}
                            <div class="cell actividad"
                            style="grid-area: {{fila_inicio}} / {{columna_dia - 1}} / {{fila_fin}} / {{columna_dia }}; background-color: {{act_color}}; ">
                                <!-- <p>4</p> -->
                                <p>{{ act_nom }}</p>
                                {% if act_desc  %}
                                    <p>{{ act_desc }}</p>
                                {% endif  %}
                                <p>{{ act_time }}</p>
                            </div>
                        {% endif %}
                    {% else %}
                        
                        <div class="cell actividad"
                        style="grid-area: {{fila_inicio}} / {{columna_dia }} / {{fila_fin}} / {{columna_dia + 1 }}; background-color: {{act_color}}; ">
                            <!-- <p>5</p> -->
                            <p>{{ act_nom }}</p>
                            {% if act_desc  %}
                                <p>{{ act_desc }}</p>
                            {% endif  %}
                            <p>{{ act_time }}</p>
                        </div>

                    {% endif %}
                    
                {% endif %}
            {% endfor %}
        {% endfor %}
        
        

    </div>
</div>


{% endblock %}



{% block scripts %}
<script src="/static/js/general_script.js"></script>

<script>

    

    const clases = [
        '.empty_cell' ,
        '.empty_cell_2' ,
        '.colday' ,
        '.space_hour' ,
        '.space_minute' ,
        '.grid_head' ,
    ]

    for (let clase of clases) {
        var num = document.querySelectorAll(clase).length;
        console.log(clase,num);        
    }
    
    

</script>

{% endblock %}