{% extends "MAESTRA.html" %}

{% block titulo %}
Index
{% endblock %}

{% block estilos %}
<style>
    :root {
        --size-block: 100px;
        --color-low: #ff0077;
        --color-middle: #90ff5d;
        --color-high: var(--color3);

        --color-bg: #9bc3ff;
        --color-transparent: #ffffff1b;
        --color-light: #ffffffd2;
        --color-dark: #333;

        --color-red: #ee0057;
        --color-yellow: #fff456;
        --color-blue: #60aaff;
        --color-orange: color-mix(in srgb, var(--color-red) 100%, var(--color-yellow) 100%);
        --color-green: color-mix(in srgb, var(--color-blue) 100%, var(--color-yellow) 100%);
    }

    section {
        justify-content: center;
        align-items: center;
        min-height: 89.5vh;
        padding: 5px;
    }

    .section_dashboard {
        display: grid;
        grid-template-columns: repeat(10, 8.3vw);
        grid-template-rows: repeat(8, 65px);
        gap: 10px;
    }

    .d_block {
        /* background-color: #5787ff70; */
        background-color: var(--colorbg3);
        /* background-color: color-mix(in srgb, var(--color1) 30%, black 90%) ; */
        /* filter: saturate(2.5); */
        border-radius: 10px;
        padding: 7px;
        padding-inline: 10px;
        font-size: 110%;
        gap: 10px;
        display: flex;
        flex-direction: column;
        /* border: 1px solid color-mix(in srgb, 10%, white 25%) ; */
        border: var(--color-border1) ;
    }

    .d_block>p {
        font-size: 110%;
        /* text-align: center; */
    }

    .d_block>div {
        display: flex;
        /* justify-content: center; */
        align-items: center;
        flex-direction: column;
        gap: 7px;
    }

    .d_block[data-block="1"] {
        grid-column: span 2 / span 2;
        grid-row: span 3 / span 3;
    }

    .d_block[data-block="2"] {
        grid-column: span 3 / span 3;
        grid-row: span 5 / span 5;
        grid-column-start: 1;
        grid-row-start: 4;
    }

    .d_block[data-block="3"] {
        grid-column: span 1 / span 1;
        grid-row:    span 1 / span 1;
        grid-column-start: 3;
        grid-row-start: 1;
    }

    .d_block[data-block="4"] {
        grid-column: span 1 / span 1;
        grid-row: span 1 / span 1;
        grid-column-start: 3;
        grid-row-start: 2;
    }

    .d_block[data-block="5"] {
        grid-column: span 2 / span 2;
        grid-row: span 8 / span 8;
        grid-column-start: 9;
        grid-row-start: 1;
    }

    .d_block[data-block="6"] {
        grid-column: span 1 / span 1;
        grid-row: span 1 / span 1;
        grid-column-start: 4;
        grid-row-start: 2;
    }

    .d_block[data-block="7"] {
        grid-column: span 3 / span 3;
        grid-row: span 5 / span 5;
        grid-column-start: 6;
        grid-row-start: 4;
    }
    
    .d_block[data-block="8"] {
        grid-column: span 1 / span 1;
        grid-row: span 1 / span 1;
        grid-column-start: 3;
        grid-row-start: 3;
    }
    
    .d_block[data-block="9"] {
        grid-column: span 1 / span 1;
        grid-row: span 1 / span 1;
        grid-column-start: 4;
        grid-row-start: 1;
    }



    .avance_ciclo {
        --size: 190px;
        --thickness: 15px;
        --percentage: 50;
        position: relative;
        width: var(--size);
        height: var(--size);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        align-self: center;
    }

    .avance_ciclo p,
    .avance_ciclo span {
        z-index: 1;
        margin: 0;
        text-align: center;
    }

    .avance_ciclo p {
        color: var(--color3);
        font-size: 290%;
    }

    .avance_ciclo span {
        color: color-mix(in srgb, var(--color2) 100%, white 60%);
        font-size: 110%;
    }

    .avance_ciclo div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .avance_info {
        position: absolute;
        display: flex;
        gap: 5px;
        flex-direction: column;
        align-items: center;
    }

    .promedio_curso {
        /* width: 100%; */
        display: flex;
        justify-content: center;
        height: 55vh;
    }

    .promedio_curso canvas {
        width: 100%;
        margin-inline: 20px;
        /* height: 400px; */
    }
</style>

<link rel="stylesheet" href="/static/css/actividad_items.css">

<style>
    .actividad {
        font-size: 80%;
    }
</style>

<style>
    .proyecto {
        border: 1px solid #ffffff69;
        border-radius: 5px;
        font-size: 90%;
        width: 100%;
    }
</style>
{% endblock %}

{% block contenido %}

<div class="section_dashboard">

    <div class="d_block" data-block="1">
        <!-- <p>Progreso del ciclo</p> -->

        {% set porcentaje = progreso_semestre.get('porcentaje') if progreso_semestre.get('porcentaje') else 0.0 %}
        {% set avance = porcentaje if porcentaje < 100 else 100.00 %} 
        <div class="avance_ciclo">
            <div class="avance_info">
                <p>{{ "%.2f"|format(avance) }}%</p>
                <span>Semana {{ (progreso_semestre['actual'] / 7 ) | round | int }}</span>
                <span>Dia {{ progreso_semestre['actual'] }}</span>
                <span>Quedan {{ progreso_semestre['total'] - progreso_semestre['actual'] }} dias</span>
            </div>
            <div id="progress-ring-container"></div>
        </div>
    </div>

    <div class="d_block" data-block="2">
        <p>
            Promedio final por curso
        </p>
        <div class="promedio_curso">
            <canvas id="graficoBarras" style="max-height: 300px;"></canvas>
        </div>
    </div>

    <div class="d_block" data-block="3">
        <!-- Promedio general -->
        <div>
            <p>{{ promedio_general.promedio_general }}</p>
        </div>
    </div>

    <div class="d_block" data-block="5">
        <p>
            Actividades
        </p>

        <div class="container_list">
            {% macro create_actividad(a) %}
            <style>
                .actividad[data-id="{{a.id}}"] {
                    background-color: color-mix(in srgb, transparent 100%, {{a.color}} 10%);
                    border: 1px solid {{ a.color }};
                }

                .actividad[data-id="{{a.id}}"] .a_icon {
                    background-color: {{a.color}} ;
                }
                
                .actividad[data-id="{{a.id}}"] .a_titulo {
                    color: color-mix(in srgb, {{a.color}} 100%, white 50%) ;
                }

                .actividad[data-id="{{a.id}}"] .a_buttons .button {
                    border: 1px solid {{ a.color }} ;
                    color: color-mix(in srgb, {{a.color}} 100%, white 50%) ;
                }

                .actividad[data-id="{{a.id}}"] .a_buttons .button:hover {
                    /* color: {{ a.color }}; */
                    border: 1px solid {{ a.color }} ;
                    color: color-mix(in srgb, {{a.color}} 75%, white 100%) ;
                }

            </style>

            <div class="actividad" data-id="{{a.id}}">
                <div class="a_icon">
                    {% if a.icono %}
                        <i class="{{a.icono}}"></i>
                    {% else %}
                        {{ a.siglas }}
                    {% endif %}
                </div>
                
                <div class="a_info">
                    <div class="a_titulo">
                        {{ a.titulo }}
                    </div>

                    <div class="a_nombre">
                        {{ a.nombre }}
                    </div>
                </div>
                
                <div class="a_end">
                    <div class="a_fecha">
                        {{ a.fecha }}
                    </div>
                    |
                    <div class="a_tipo">
                        {{ a.tipo }}
                    </div>
                </div>

                <!-- <div class="a_buttons">
                    <div class="clickable-modal button btn_consult">
                        <i class="fa-solid fa-eye"></i>
                    </div>
                    <div class="clickable-modal button btn_update" data-target="update_actividad_{{a.id}}">
                        <i class="fa-solid fa-pencil"></i>
                    </div>
                    <div class="clickable-modal button btn_delete">
                        <i class="fa-solid fa-trash"></i>
                    </div>
                </div> -->
            </div>
            {% endmacro %}


            {% for a in actividades %}
                {{ create_actividad(a) }}
            {% endfor %}
        </div>
    </div>

    <div class="d_block" data-block="4">
        4
    </div>

    <div class="d_block" data-block="6">
        6
    </div>

    <div class="d_block" data-block="7">
        <p>
            Proyectos
        </p>
        <div class="container_list">
            {% for p in proyectos %}
                <style>
                    .proyecto[data-id="{{p.id}}"] {
                        color: {{ p.color }};
                        border-color: {{ p.color }};
                    }
                </style>
                
                <div class="proyecto" data-id="{{p.id}}">
                    <div>{{ p.nombre }}</div>
                    <div>{{ p.icono }}</div>
                    <div>{{ p.siglas }}</div>
                    <div>{{ p.img }}</div>
                    <div>{{ p.fecha_limite }}</div>
                    <div>{{ p.tiempo }}</div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="d_block" data-block="8">
        8
    </div>

    <div class="d_block" data-block="9">
        9
    </div>


</div>


<script src="https://cdn.jsdelivr.net/npm/progressbar.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@2.2.1/dist/chartjs-plugin-annotation.min.js"></script>

<script>
    Chart.defaults.font.family = 'Poppins';

    function getValueRoot(value , def = "#ee003f") {
        return getComputedStyle(document.documentElement).getPropertyValue(value).trim() || def;
    }

    function hexToRgb(hex) {
        hex = hex.trim();
        if (hex.startsWith("#")) hex = hex.slice(1);
        if (hex.length === 3) {
            hex = hex.split("").map(c => c + c).join("");
        }
        const bigint = parseInt(hex, 16);
        return {
            r: (bigint >> 16) & 255,
            g: (bigint >> 8) & 255,
            b: bigint & 255
        };
    }

    let colorBG = getValueRoot( '--color-bg' );
    let colorTransparent = getValueRoot( '--color-transparent' );
    let colorLight = getValueRoot( '--color-light' );
    let colorDark = getValueRoot( '--color-dark' );

</script>

<script>

    const ctx = document.getElementById('graficoBarras').getContext('2d');

    const cursos = {{ cursos| tojson }};
    const nombresCompletos = {{ nombres_completos| tojson }};
    const promedios = {{ promedios| tojson }};

    const colorBarras = promedios.map(valor => {
        if (valor < 13.5) return getComputedStyle(document.documentElement).getPropertyValue('--color-red').trim() || '#ff0000';
        else if (valor < 14.5) return getComputedStyle(document.documentElement).getPropertyValue('--color-orange').trim() || '#ff8000';
        else if (valor < 16.5) return getComputedStyle(document.documentElement).getPropertyValue('--color-yellow').trim() || '#ffff00';
        else if (valor < 17.5) return getComputedStyle(document.documentElement).getPropertyValue('--color-green').trim() || '#00ff00';
        else return getComputedStyle(document.documentElement).getPropertyValue('--color-blue').trim() || '#0000ff';
    });

    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: cursos,
            datasets: [{
                label: 'Promedio',
                data: promedios,
                backgroundColor: colorBarras,
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true,
                    min: 0,
                    max: 20,
                    ticks: {
                        stepSize: 13.5,
                        color: colorLight // Números del eje Y en blanco
                    },
                    grid: {
                        color: colorTransparent
                    }
                },
                x: {
                    ticks: {
                        color: colorLight // Etiquetas (siglas) en blanco
                    },
                    grid: {
                        // color: colorTransparent
                    }
                }
            },
            plugins: {
                legend: { display: false },
                tooltip: {
                    backgroundColor: '#333',
                    titleColor: '#fff',
                    bodyColor: '#fff',
                    callbacks: {
                        title: function (context) {
                            const index = context[0].dataIndex;
                            return nombresCompletos[index]; // muestra el nombre completo
                        },
                        label: context => `Promedio: ${context.parsed.y.toFixed(2)}`
                    } 
                    
                } ,
                annotation: {
                    annotations: {
                        linea135: {
                            type: 'line',
                            yMin: 13.5,
                            yMax: 13.5,
                            borderColor: colorTransparent,
                            borderWidth: 1,
                            label: {
                                content: 'Límite 13.5',
                                enabled: true,
                                position: 'end',
                                color: '#fff',
                                backgroundColor: 'rgba(0,0,0,0.5)',
                                font: {
                                    family: 'Poppins',
                                    size: 10
                                }
                            }
                        },
                        linea145: {
                            type: 'line',
                            yMin: 14.5,
                            yMax: 14.5,
                            borderColor: colorTransparent,
                            borderWidth: 1,
                            label: {
                                content: 'Límite 14.5',
                                enabled: true,
                                position: 'end',
                                color: '#fff',
                                backgroundColor: 'rgba(0,0,0,0.5)',
                                font: {
                                    family: 'Poppins',
                                    size: 10
                                }
                            }
                        },
                        linea165: {
                            type: 'line',
                            yMin: 16.5,
                            yMax: 16.5,
                            borderColor: colorTransparent,
                            borderWidth: 1,
                            label: {
                                content: 'Límite 16.5',
                                enabled: true,
                                position: 'end',
                                color: '#000',
                                backgroundColor: 'rgba(255,255,255,0.8)',
                                font: {
                                    family: 'Poppins',
                                    size: 10
                                }
                            }
                        },
                        linea175: {
                            type: 'line',
                            yMin: 17.5,
                            yMax: 17.5,
                            borderColor: colorTransparent,
                            borderWidth: 1,
                            label: {
                                content: 'Límite 17.5',
                                enabled: true,
                                position: 'end',
                                color: '#fff',
                                backgroundColor: 'rgba(0,0,0,0.5)',
                                font: {
                                    family: 'Poppins',
                                    size: 10
                                }
                            }
                        }
                    }
                }
            }
        }
    });

</script>

<script>
    let porcentajeAvance = {{ avance / 100 }};

    var bar = new ProgressBar.Circle('#progress-ring-container', {
        trailColor: colorTransparent,
        strokeWidth: 7,
        trailWidth:  7,
        easing: 'easeInOut',
        duration: 1000,
        text: { autoStyleContainer: false },
        from: { color: '#ff0000', width: 7 },
        to:   { color: '#00ff00', width: 7 },
        step: function (state, circle) {
            let percent = circle.value();

            let colorLowHex = getComputedStyle(document.documentElement).getPropertyValue('--color-low').trim() || "#ee003f";
            let colorMidHex = getComputedStyle(document.documentElement).getPropertyValue('--color-middle').trim() || "#ffff00";
            let colorHighHex = getComputedStyle(document.documentElement).getPropertyValue('--color-high').trim() || "#0dfc7d";

            let cLow = hexToRgb(colorLowHex);
            let cMid = hexToRgb(colorMidHex);
            let cHigh = hexToRgb(colorHighHex);

            let r, g, b;

            if (percent < 0.5) {
                // Interpolar de low a middle
                let p = percent / 0.5;
                r = Math.round(cLow.r + p * (cMid.r - cLow.r));
                g = Math.round(cLow.g + p * (cMid.g - cLow.g));
                b = Math.round(cLow.b + p * (cMid.b - cLow.b));
            } else {
                // Interpolar de middle a high
                let p = (percent - 0.5) / 0.5;
                r = Math.round(cMid.r + p * (cHigh.r - cMid.r));
                g = Math.round(cMid.g + p * (cHigh.g - cMid.g));
                b = Math.round(cMid.b + p * (cHigh.b - cMid.b));
            }

            let color = `rgb(${r},${g},${b})`;

            circle.path.setAttribute('stroke', color);
            circle.path.setAttribute('stroke-width', state.width);

            // Sin número en el centro
            circle.setText('');
        }
    });

    bar.animate(porcentajeAvance);
</script>

{% endblock %}