{% extends "maestra_general.html" %}

{% block titulo %}
Notas
{% endblock %}

{% block estilos %}
<link rel="stylesheet" href="/static/css/horario.css">
{% endblock %}





{% block contenido %}

<div class="list_notas" style="color: black;">

    {% for curso in cursos %}
    <div class="s_curso" data-curso-id="{{curso[0]}}" style="background-color: {{ curso[6] }}">
        <div class="n_curso">{{ curso[1] }}</div>
        <div class="c_curso">
            {% for unidad in unidades %}
            {% if curso[0] == unidad[3] %}
            <div class="s_unidad" data-unidad-id="{{ unidad[0] }}">
                <div class="n_unidad">
                    <p>{{ unidad[1] }}</p>
                </div>
                <div class="p_unidad">
                    {{ unidad[2] }} %
                </div>
                <div class="v_unidad">
                    {{ unidad[4] }}
                </div>
                <div class="c_unidad">
                    {% for nota in notas %}
                    {% if unidad[0] == nota[4] %}
                    <div class="s_nota">
                        <div class="v_nota" data-nota-id="{{nota[0]}}">
                            <p>{{ nota[3] }}</p>
                        </div>
                        <div class="p_nota">
                            <p>{{ nota[2] }} %</p>
                            <p>({{nota[0]}})</p>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="v_curso">{{ curso[5] }}</div>
    </div>
    {% endfor %}

</div>

<div class="v_nota" style="position: fixed; bottom: 40px; left: 290px;">
    <input type="number" step="0.1" max="20" min="0">
</div>



{% endblock %}






{% block scripts %}

<!-- <script src="/static/js/notas_1.js"></script> -->
<script src="/static/js/notas.js"></script>





{% endblock %}