{% extends 'MAESTRA_BASE.html' %}


{% block estilos_html %}
    {% block estilos %}
    {% endblock %}
{% endblock %}


{% block titulo_html %}
    {% block titulo %}
    {% endblock %}
{% endblock %}


{% block body_html %}

<aside class="general_element">
    {% for e in MENU %}
    <a class="aside_item" href="{{url_for(e.enlace)}}">
        <i class="{{ e.icono }}"></i>
        <p>{{ e.nombre }}</p>
    </a>
    {% endfor %}
</aside>

<section class="general_element">
    {% block contenido %}
    {% endblock %}
</section>

{% endblock %}


{% block scripts_html %}
    <script>

        pintarElemento(' .a_icon ');
        pintarElemento(' .i_icon ');

    </script>
    {% block scripts %}
    {% endblock %}
{% endblock %}

