{% extends "MAESTRA.html" %}

{% block titulo %}
Ver tabla {{ tabla_info['nombre'] }}
{% endblock %}


{% block estilos %}

<style>
    table {
        font-size: 90%;
        table-layout: fixed;
        border-collapse: separate;
        border-spacing: 2px;
    }

    tr {
        display: table-row; /* por defecto */
    }

    th {
        min-width: 150px;
        max-width: 400px;
        width: fit-content;
    }

    td,
    th {
        text-align: center;
        padding: 0;
    }

    td.td_tareas {
        position: relative;
        vertical-align: top;
        padding: 0;
    }

    .list_tareas {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5px;
        gap: 5px;
        width: 100%;  
        height: 100%;
        position: relative;
        min-height: 100%;
        box-sizing: border-box;
    }

    .tarea {
        display: flex;
        padding-inline: 10px;
        padding-block: 3px;
        border-radius: 5px;
        justify-content: center;
        width: 100%;
    }

    .section_tabla {
        display: flex;
        gap: 30px;
        height: 100%;
        width: 100%;
    }

    .insert_tarea {
        --size: 0px;
        border-radius: 0px;
        border-bottom-left-radius: 5px;
        color: white;
        height: 15px;
        aspect-ratio: 1 / 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        position: absolute;
        z-index: 99;
        right: var(--size);
        top: var(--size);
    }


    .container_tabla {
        overflow: auto;
        position: relative;
        max-height: 85vh;
        background-color: rgba(0, 0, 0, 0.316);
        border-radius: 5px;
    }

    .container_forms {
        width: 200px;
        gap: 20px;
        display: flex;
        flex-direction: column;
    }

    .container_forms form {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }

    .btns_insert {
        display: flex;
        gap: 5px;
        padding: 5px;
        justify-content: center;
    }

    .btns_insert .button {
        gap:     5px;
        padding: 5px;
        font-size: 100%;
        width: 100%;
        justify-content: center;
    }

    td input ,
    th input {
        text-align: center;
    }

    .col_arrows {
        display: flex;
    }

    .fila_head .button ,
    .columna_head .button {
        width: fit-content;
        padding-inline: 5px;
        height: -webkit-fill-available;
    }


    .fila_buttons {
        display: flex;
        flex-direction: column;
        gap: 1px;
        height: -webkit-fill-available;
    }

    .fila_buttons * {
        height: 100%;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fila_buttons i {
        padding: 0;
    }


    .button i {
        font-size: 85%;
    }

    tr {
        display: table-row;
    }

    td, th {
        text-align: center;
        padding: 0;
        vertical-align: top;
        height: 1px; 
    }

    td.td_tareas {
        position: relative;
        padding: 0;
        height: 1px;
    }

    .list_tareas {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5px;
        gap: 5px;
        box-sizing: border-box;
        min-height: 100%; 
    }

    td.head_fila {
        left: 0;
        z-index: 999;
        padding: 0;
        height: 1px; 
    }

    th {
        min-width: 150px;
        max-width: 400px;
        width: fit-content;
        padding: 0;
        height: 1px; 
    }

    .btns_insert {
        display: flex;
        gap: 5px;
        padding: 5px;
        justify-content: center;
        min-height: 100%;
        box-sizing: border-box;
    }

    .insert_tarea {
        --size: 0px;
        border-radius: 5px;
        color: white;
        height: 15px;
        aspect-ratio: 1 / 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        position: absolute;
        z-index: 99;
        right: var(--size);
        top: var(--size);
    }

    .tarea.dragging {
        opacity: 0.5;
    }
    .list_tareas.dragover {
        border: 2px dashed #fff;
    }

    .tarea_completa {
        text-decoration: line-through;
        color: #878787;
    }

    :root {
        --sizeP:  5px ;
        --sizeI: 20px;
        --color_off : rgb(0, 220, 59);
        --color_on : red;
    }

    .btn_modo {
        background-color: color-mix(in srgb,  var(--color_btn) 15%, transparent 100%);
        border: 1px solid var(--color_btn);
        color: var(--color_btn);
    }

    .btn_modo.on {
        --color_btn :var(--color_on);
    }
    
    .btn_modo.off {
        --color_btn :var(--color_off);
    }

    .tarea .buttonCheckTarea {
        position: absolute;
        top: var(--sizeP);
        left: var(--sizeP);
    }
    
    .buttonCheckTarea i {
        font-size: calc( var(--sizeI) / 1.75 ) ;
    }

    .tarea {
        padding-left: calc( var(--sizeI) + var(--sizeP) );
    }

    :root {
        --bg_table: #3b3b3b;
        /* --bg_table: #00000000; */
        --sizeT: 2px;
    }

    .container_tabla {
        padding: var(--sizeT);
    }
    
    thead th {
        /* background: var(--bg_table); */
        position: sticky;
        top: var(--sizeT);
        z-index: 110;    
    }

    tbody td.head_fila {
        position: sticky;
        left: var(--sizeT);
        /* background: var(--bg_table);  */
        z-index: 109;     
    }

    thead th:first-child {
        position: sticky;
        top: var(--sizeT);
        left: var(--sizeT);
        z-index: 111; 
    }

    th.dragging {
        opacity: 0.5;
        outline: 2px dashed #fff;
    }

    .btn_drag_col:active {
        cursor: grabbing;
    }

    tr.dragging {
        opacity: 0.5;
        outline: 2px dashed #fff;
    }

    .btnUpdateColor {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
    }
    
    :root {
        --spc: 3px;
    }

    .fila_head {
        min-height: 100%;
        align-items: center;
        display: grid;
        gap: var(--spc);
        grid-template-areas: 
            "f_name f_name f_name"
            "f_del f_color f_drag"
        ;
        justify-items: center;

    }

    .btn_drag_fila {
        grid-area: f_drag;
        cursor: grab;
    }

    .fil_name {
        grid-area: f_name;
        width: 100%;
        height: -webkit-fill-available;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-block: var(--spc);
    }

    .fila_head .btn_delete {
        grid-area: f_del;
        height: fit-content !important;
    }

    .fila_head .btnUpdateColor {
        grid-area: f_color;
    }


    .columna_head {
        padding-top: var(--spc);
        height: -webkit-fill-available;
        gap: var(--spc);
        min-height: 100%;
        width: 100%;
        display: grid;
        grid-template-areas: 
            "c_name c_name c_name"
            "c_del c_color c_drag"
        ;
        justify-items: center;
    }

    .col_name {
        grid-area: c_name;
        width: 100%;        
        padding-block: 3px;
    }

    .btn_drag_col {
        grid-area: c_drag;
        z-index: 100;
        cursor: grab;
    }

    .inputUpdateColor {
        position: relative;
        top: auto;
        left: auto;
    }
    
    .columna_head .btn_delete {
        grid-area: c_del;
        height: fit-content !important;
    }

    .columna_head .btnUpdateColor {
        grid-area: c_color;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
    }

    .fila_head ,
    .columna_head {
        font-size: 107.5%;
    }

    .cell_insert {
        background-color: var(--bg_table);
    }
        
    @media (max-width: 600px) {
        .cell_insert {
            min-width: 100px;
        }
    }


</style>

{% if tabla_info.ver == 0 %}
<style>
    .tarea_completa {
        display: none;
    }
</style>
{% endif %}

{% endblock %}


{% block contenido %}

<div class="container_title">
    <p class="title tabla_name" data-tablaid="{{tabla_info.id}}"> 
        {{tabla_info.nombre}}
    </p>

    <div>
        <a class="button btn_modo {{ 'on' if tabla_info.ver == 1 else 'off' }}" href="{{ url_for('change_ver_tabla' , tablaid = tabla_info.id ) }}">
            {{ 'Ocultar' if tabla_info.ver == 1 else 'Mostrar' }} tareas completas
        </a>
    </div>
</div>

<div class="section_tabla">

    <div class="container_tabla">
        <table>
            <thead>
                <th class="cell_insert">
                    <div class="btns_insert">
                        <a class="button btn_insert" href="{{url_for('nueva_fila' , tablaid = tabla_info.id )}}">
                            <i class="fa-solid fa-plus"></i>
                            Row
                        </a>
                        <a class="button btn_insert" href="{{url_for('nueva_columna' , tablaid = tabla_info.id )}}">
                            <i class="fa-solid fa-plus"></i>
                            Col
                        </a>
                    </div>
                </th>
                {% for col in columnas %}
                <style>

                    th[data-columnaid="{{ col.id }}"] .columna_head {
                        border-radius: 5px;
                        background-color: {{ col.color }} ;
                    }

                    th[data-columnaid="{{ col.id }}"] .button {
                        background-color: transparent;
                    }

                </style>

                <th data-columnaid="{{ col.id }}">
                    <div class="columna_head" data-columnaid="{{ col.id }}">
                        <div class="col_name" data-columnaid="{{ col.id }}" >
                            {{ col['nombre'] }}
                        </div>
                        <a class="button btn_delete" href="{{ url_for('delete_columna' , columnaid = col.id ) }}">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </div>
                </th>
                {% endfor %}
                
            </thead>
            <tbody>
                {% for fila in filas %}
                <tr>
                    <style>
                        /* td.head_fila[data-filaid="{{ fila.id }}"] {
                            background-color: {{ fila.color }} ;
                        } */

                        td[data-filaid="{{ fila.id }}"] .fila_head {
                            border-radius: 5px;
                            /* border: 1px solid {{ fila.color }}; */
                            background-color: {{ fila.color }} ;
                            /* background-color: color-mix(
                            in srgb, 
                            transparent 75%, 
                            {{ fila.color }}  75%
                            ) ; */
                        }

                        td[data-filaid="{{ fila.id }}"] .button {
                            background-color: transparent;
                        }
                    </style>

                    <td class="head_fila" data-filaid="{{ fila.id }}">
                        <div class="fila_head" data-filaid="{{ fila.id }}">
                            <div class="fil_name" data-filaid="{{ fila.id }}">
                                {{ fila.nombre }}
                            </div>
                            <a class="button btn_delete" href="{{ url_for('delete_fila' , filaid = fila.id ) }}">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </div>
                    </td>
                    {% for col in columnas %}
                    <style>
                        /* .tarea[data-columnaid="{{col.id}}"][data-filaid="{{fila.id}}"]  , */
                        td[data-columnaid="{{col.id}}"][data-filaid="{{fila.id}}"] .insert_tarea {
                            background-color: color-mix(
                                in srgb,
                                {{ col.color}}  100%, 
                                {{ fila.color}} 100%
                                );
                            /* background-color: color-mix(
                                in srgb, 
                                black 00%, 
                                color-mix(
                                    in srgb, 
                                    {{ col.color}}  50%, 
                                    {{ fila.color}} 50%
                                ) 90%
                                ); */
                        }

                        .list_tareas[data-columnaid="{{col.id}}"][data-filaid="{{fila.id}}"] {
                            /* margin: 5px; */
                            border-radius: 5px;
                            border: 1px dashed color-mix(
                                in srgb, 
                                {{ col.color}}  100%, 
                                {{ fila.color}} 100%
                            );
                            background-color: color-mix(
                                in srgb, 
                                {{ col.color}}  10%, 
                                {{ fila.color}} 10%
                            );
                        }
                    </style>
                    <td class="td_tareas" data-columnaid="{{col.id}}" data-filaid="{{fila.id}}">
                        <a class="insert_tarea" href="{{url_for('nueva_tabla_tarea' , columnaid = col.id , filaid = fila.id , tablaid = tabla_info.id )}}">
                            <i class="fa-solid fa-plus"></i>
                        </a>
                        <!-- <div class="insert_tarea" data-columnaid="{{col.id}}" filaid="{{fila.id}}" >
                            <i class="fa-solid fa-plus"></i>
                        </div> -->
                        <div class="list_tareas" data-columnaid="{{col.id}}" data-filaid="{{fila.id}}">
                            <style>
                                .tarea[data-columnaid="{{col.id}}"][data-filaid="{{fila.id}}"] {
                                    background-color: color-mix(
                                        in srgb,
                                        {{ col.color}}  100%, 
                                        {{ fila.color}} 100%
                                        );
                                }
                            </style>

                            {% for tarea in tareas if fila.id == tarea.filaid and col.id == tarea.columnaid and ( tarea.completo == 0 or tarea.completo == tabla_info.ver ) %}

                            <div class="tarea {{ 'tarea_completa' if tarea.completo else '' }}" data-tareaid="{{tarea.id}}" data-columnaid="{{col.id}}" data-filaid="{{fila.id}}">
                                {{ tarea.nombre }}
                            </div>
                            
                            {% endfor %}
                        </div>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}

<script>
    document.querySelectorAll(".tarea").forEach(tarea => {
        tarea.setAttribute("draggable", "true");

        tarea.addEventListener("dragstart", e => {
            e.dataTransfer.setData("tareaid", tarea.dataset.tareaid);
            e.dataTransfer.setData("columnaid", tarea.dataset.columnaid);
            e.dataTransfer.setData("filaid", tarea.dataset.filaid);
            e.dataTransfer.setData("orden", Array.from(tarea.parentNode.children).indexOf(tarea));
            tarea.classList.add("dragging");
        });

        tarea.addEventListener("dragend", () => {
            tarea.classList.remove("dragging");
        });
    });

    // Permitir soltar en cada celda de lista
    document.querySelectorAll(".list_tareas").forEach(celda => {
        celda.addEventListener("dragover", e => {
            e.preventDefault();
            celda.classList.add("dragover");
        });

        celda.addEventListener("dragleave", () => {
            celda.classList.remove("dragover");
        });

        celda.addEventListener("drop", e => {
            e.preventDefault();
            celda.classList.remove("dragover");

            const tareaid = e.dataTransfer.getData("tareaid");
            const columnaid = e.dataTransfer.getData("columnaid");
            const filaid = e.dataTransfer.getData("filaid");
            const orden = e.dataTransfer.getData("orden");

            const ncolumnaid = celda.dataset.columnaid;
            const nfilaid = celda.dataset.filaid;

            // mover visualmente
            const tareaEl = document.querySelector(`.tarea[data-tareaid="${tareaid}"]`);
            celda.appendChild(tareaEl);

            // llamar API
            fetch(`/update_tabla_tarea_celda?orden=${orden}&ncolumnaid=${ncolumnaid}&nfilaid=${nfilaid}&columnaid=${columnaid}&filaid=${filaid}&tareaid=${tareaid}`)
                .then(r => {
                    if (!r.ok) throw new Error("Error en la API");
                    return r.text();
                })
                .then(() => {
                    console.log("Tarea movida correctamente");
                    tareaEl.dataset.columnaid = celda.dataset.columnaid;
                    tareaEl.dataset.filaid = celda.dataset.filaid;
                })
                .catch(err => {
                    console.error("Error al actualizar tarea:", err);
                    alert("No se pudo mover la tarea");
                });
        });
    });

</script>


<script>
   
   // Añadir botones de arrastre a las columnas
document.querySelectorAll('th[data-columnaid]').forEach(th => {
    const columnaHead = th.querySelector('.columna_head');
    const dragBtn = document.createElement('a');
    dragBtn.className = 'button btn_drag_col';
    dragBtn.innerHTML = '<i class="fa-solid fa-arrows-left-right"></i>';
    dragBtn.title = 'Mover columna';
    dragBtn.draggable = true;
    
    columnaHead.insertBefore(dragBtn, columnaHead.firstChild);
});

// ========== DRAG AND DROP PARA FILAS ==========

// Añadir botones de arrastre a las filas
document.querySelectorAll('td.head_fila[data-filaid]').forEach(td => {
    const filaHead = td.querySelector('.fila_head');
    const dragBtn = document.createElement('a');
    dragBtn.className = 'button btn_drag_fila';
    dragBtn.innerHTML = '<i class="fa-solid fa-arrows-up-down"></i>';
    dragBtn.title = 'Mover fila';
    dragBtn.draggable = true;
    
    filaHead.insertBefore(dragBtn, filaHead.firstChild);
});

// Variables para el drag and drop de filas
let draggedRow = null;

// Eventos para los botones de drag de filas
document.querySelectorAll('.btn_drag_fila').forEach(btn => {
    btn.addEventListener('dragstart', e => {
        draggedRow = e.target.closest('tr');
        draggedRow.classList.add('dragging');
        e.dataTransfer.effectAllowed = 'move';
    });

    btn.addEventListener('dragend', () => {
        if (draggedRow) {
            draggedRow.classList.remove('dragging');
            draggedRow = null;
        }
    });
});

// Permitir drop en las filas
document.querySelectorAll('td.head_fila[data-filaid]').forEach(td => {
    td.addEventListener('dragover', e => {
        if (draggedRow && td.closest('tr') !== draggedRow) {
            e.preventDefault();
            e.dataTransfer.dropEffect = 'move';
        }
    });

    td.addEventListener('drop', e => {
        if (draggedRow && td.closest('tr') !== draggedRow) {
            e.preventDefault();
            
            const targetRow = td.closest('tr');
            const tbody = targetRow.parentNode;
            const draggedIndex = Array.from(tbody.children).indexOf(draggedRow);
            const targetIndex = Array.from(tbody.children).indexOf(targetRow);
            
            // Mover la fila
            if (draggedIndex < targetIndex) {
                tbody.insertBefore(draggedRow, targetRow.nextSibling);
            } else {
                tbody.insertBefore(draggedRow, targetRow);
            }
            
            // Actualizar orden en BD después del movimiento
            updateFilasOrden();
        }
    });
});

// Variables para el drag and drop de columnas
let draggedColumn = null;
let draggedColumnIndex = null;

// Eventos para los botones de drag de columnas
document.querySelectorAll('.btn_drag_col').forEach(btn => {
    btn.addEventListener('dragstart', e => {
        draggedColumn = e.target.closest('th');
        draggedColumnIndex = Array.from(draggedColumn.parentNode.children).indexOf(draggedColumn);
        draggedColumn.classList.add('dragging');
        e.dataTransfer.effectAllowed = 'move';
    });

    btn.addEventListener('dragend', () => {
        if (draggedColumn) {
            draggedColumn.classList.remove('dragging');
            draggedColumn = null;
            draggedColumnIndex = null;
        }
    });
});

// Permitir drop en las columnas
document.querySelectorAll('th[data-columnaid]').forEach(th => {
    th.addEventListener('dragover', e => {
        if (draggedColumn && th !== draggedColumn) {
            e.preventDefault();
            e.dataTransfer.dropEffect = 'move';
        }
    });

    th.addEventListener('drop', e => {
        if (draggedColumn && th !== draggedColumn) {
            e.preventDefault();
            
            const targetIndex = Array.from(th.parentNode.children).indexOf(th);
            const table = document.querySelector('table');
            
            // Mover header
            if (draggedColumnIndex < targetIndex) {
                th.parentNode.insertBefore(draggedColumn, th.nextSibling);
            } else {
                th.parentNode.insertBefore(draggedColumn, th);
            }
            
            // Mover todas las celdas de la columna en tbody
            const rows = table.querySelectorAll('tbody tr');
            rows.forEach(row => {
                const cells = Array.from(row.children);
                // Buscar las celdas por data-columnaid en lugar de por índice
                const draggedColumnId = draggedColumn.dataset.columnaid;
                const targetColumnId = th.dataset.columnaid;
                
                const draggedCell = row.querySelector(`td[data-columnaid="${draggedColumnId}"]`);
                const targetCell = row.querySelector(`td[data-columnaid="${targetColumnId}"]`);
                
                if (draggedCell && targetCell) {
                    if (draggedColumnIndex < targetIndex) {
                        row.insertBefore(draggedCell, targetCell.nextSibling);
                    } else {
                        row.insertBefore(draggedCell, targetCell);
                    }
                }
            });
            
            // Actualizar orden en BD después del movimiento
            updateColumnasOrden();
        }
    });
});


// Función para actualizar orden de columnas en BD
async function updateColumnasOrden() {
    const columnas = Array.from(document.querySelectorAll('th[data-columnaid]')).map(th => th.dataset.columnaid);
    
    try {
        const response = await fetch('/api_update_columnas_orden', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ columnas_orden: columnas })
        });
        
        if (!response.ok) throw new Error("Error al actualizar orden");
        console.log("Orden de columnas actualizado");
    } catch (err) {
        console.error(err);
        alert("Error al actualizar orden de columnas");
    }
}

// Función para actualizar orden de filas en BD
async function updateFilasOrden() {
    const filas = Array.from(document.querySelectorAll('td.head_fila[data-filaid]')).map(td => td.dataset.filaid);
    
    try {
        const response = await fetch('/api_update_filas_orden', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ filas_orden: filas })
        });
        
        if (!response.ok) throw new Error("Error al actualizar orden");
        console.log("Orden de filas actualizado");
    } catch (err) {
        console.error(err);
        alert("Error al actualizar orden de filas");
    }
}

</script>
    
    
<script>
    async function api_nueva_tabla_tarea( filaid , columnaid) {
        try {
            const response = await fetch('/api_nueva_tabla_tarea', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({
                    filaid: filaid,
                    columnaid: columnaid
                })
            });

            if (!response.ok) throw new Error("Error al insertar");

            const data = await response.json();
            return data.tare;
        } catch (err) {
            console.error(err);
            alert("Error al actualizar valor");
            return null; // o lo que necesites
        }
    }

    // document.querySelectorAll('.insert_tarea').forEach(btn => {
    //     btn.addEventListener('click' , async () => {
    //         const fid = btn.dataset.filaid;
    //         const cid = btn.dataset.columnaid;

    //         const tarea = await api_nueva_tabla_tarea( fid , cid );
    //         // console.log(tarea);

    //         const lista = document.querySelector(`.list_tareas[data-columnaid="${columnaid}"][data-filaid="${filaid}"]`);
    //         lista.innerHTML += `
    //             <div class="tarea" data-tareaid="${tarea.id}" data-columnaid="${columnaid}" data-filaid="${filaid}">
    //                 ${tarea.nombre}
    //             </div>
    //         `;

    //     });
    // });

</script>


<script>
    pintarElemento(' .columna_head  ');
    pintarElemento(' .fila_head  ');
    pintarElemento(' .list_tareas ');
    pintarElemento(' .insert_tarea ');
    // pintarElemento(' .fila_head .button , .columna_head .button ');
    pintarElemento(' th input[type="text"] ');
    pintarElemento(' td input[type="text"] ');
    
    update_name_element_bd_table( '.tabla_name' , 'tabla' , 'nombre' , 'tablaid');
    update_name_element_bd_table( '.col_name' , 'columna' , 'nombre' , 'columnaid');
    update_name_element_bd_table( '.fil_name' , 'fila' , 'nombre' , 'filaid');
    update_name_element_bd_table( '.tarea' , 'tarea' , 'nombre' , 'tareaid');
    
    const eCol = [
        ['-e-','backgroundColor', '-color-'] ,
        ['.columna_head[data-columnaid="-id-"] .btn_move','backgroundColor', '-color-'] ,
        // ['.list_tareas[data-columnaid="-id-"] ','border', ' 1px dashed color-mix( in srgb, -color- 10%, -color- 10% ) '] ,
        // ['.list_tareas[data-columnaid="-id-"] ','backgroundColor', ' color-mix( in srgb, -color- 10%, -color- 10% ) '] ,
    ];

    const eFil = [
        ['-e-','backgroundColor', '-color-'] ,
        ['.columna_head[data-columnaid="-id-"] .btn_move','backgroundColor', '-color-'] ,
    ];

    update_color_element_bd_table(  '.columna_head' , 'columna' , 'columnaid' , eCol);
    update_color_element_bd_table(  '.fila_head' , 'fila' , 'filaid' );

    check_tareas('.tarea', 'tareaid');
</script>

{% endblock %}