{% extends "MAESTRA.html" %}

{% block titulo %}

{% endblock %}


{% block estilos %}



{% endblock %}


{% block contenido %}
<div class="container_title">
    <p class="title">
        {{ tarea_info }}
    </p>
</div>



{% macro render_tarea(tarea, nivel=0) %}
    
    <a style="margin-left: {{ nivel * 50 }}px;" href=" {{ url_for('test' , id = tarea.id) }} ">
        {{tarea}}
    </a>

    {% for hijo in tarea.hijos %}
        {{ render_tarea(hijo, nivel + 1) }}
    {% endfor %}

{% endmacro %}


<div class="container_list">

{% for tarea in tareas %}

    {{ render_tarea(tarea) }}

{% endfor %}

</div>

{% endblock %}



{% block scripts %}


{% endblock %}