{% extends "MAESTRA.html" %}

{% block titulo %}

{% endblock %}


{% block estilos %}



{% endblock %}


{% block contenido %}
<div class="container_title">
    <p class="title">
        {{ tarea_info }}
    </p>
</div>


<div class="container_list">
    <details name="requirements">
    <summary>Graduation Requirements</summary>
    <details name="">
    <summary>System Requirements</summary>
    <p>
        Requires a computer running an operating system. The computer must have some
        memory and ideally some kind of long-term storage. An input device as well
        as some form of output device is recommended.
    </p>
    </details>

    <details name="">
    <summary>Job Requirements</summary>
    <p>
        Requires knowledge of HTML, CSS, JavaScript, accessibility, web performance,
        privacy, security, and internationalization, as well as a dislike of
        broccoli.
    </p>
    </details>
    </details>

    

</div>

{% macro render_tarea(tarea, nivel=0) %}
    
    <a style="margin-left: {{ nivel * 50 }}px;" href=" {{ url_for('test' , id = tarea.id) }} ">
        {{tarea}}
    </a>

    {% for hijo in tarea.hijos %}
        {{ render_tarea(hijo, nivel + 1) }}
    {% endfor %}

{% endmacro %}


<div class="container_list">

{% for tarea in tareas %}

    {{ render_tarea(tarea) }}

{% endfor %}

</div>

{% endblock %}



{% block scripts %}


{% endblock %}