:root {
    --heigh-header: 65px;
    --height-footer: 50vh;
    --height-aside: 90vh;
    --height-section: 1vh;
    /* --width-aside: 7.5vw; */
    --width-aside: 95px;

    --color-border1: 1px solid #ffffff26;

    --color1: #161a2c;
    --color2: #8d22ff;
    --color3: #00ddff;
    --color4: #222a3f;
    --color5: #18ff84;
    --colorbg1: #13182c;
    --colorbg2: #0f0f23;
    --colorbg3: #1c2537;
}

body {
    font-size: 11px;
}

* {
    transition: 0.1s ease-in-out;
}

*:not(i) {
    font-family: Poppins, sans-serif !important;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

hr {
    margin: 10px 0 !important;
    /* margin-block: 15px; */
    width: 100%;
    padding: 0;
}

button {
    border: 0;
    padding-inline: 10px;
    padding-block: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

button:hover {
    cursor: pointer;
}

.btn_agregar {
    background-color: #005d92;
    color: white;
}

.btn_acept {
    background-color: #009231;
    color: white;
}

.btn_red {
    background-color: red;
    color: white;
}

.btn_back {
    background-color: #6e6e6e;
    color: white;
}

.modal_agregar {
    box-shadow: 0 0 20px #00b84c;
}

.modal_ver {
    /* box-shadow: 0 0 20px #2080ee; */
    box-shadow: 0 0 20px #f8f8f8;
}

.modal_editar {
    box-shadow: 0 0 20px #caee00;
}

.modal_eliminar {
    box-shadow: 0 0 20px #df2100;
}


.general_body {
    display: flex;
    background-color: var(--colorbg1);
    width: 100%;
    min-height: 100vh;
    align-items: center;
}


.general_element {
    display: flex;
    align-items: center;
    justify-content: center;
}

::-webkit-scrollbar {
    width:  3px;
    height: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: #bcbcbcb2;
    border-radius: var(--border-radius-size);
}

::-webkit-scrollbar-track {
    background-color: transparent;
}


header {
    /* background-color: color-mix(in srgb, var(--color2) 40%, white 20%) ; */
    background-color: #ffffff2a;
    grid-area: body_header;
    height: var(--heigh-header);
    width: 100%;
    position: sticky;
    z-index: 9999;
    top: 0;
    gap: 20px;
    font-size: 130%;
}

/* aside::-webkit-scrollbar {
    display: none;
} */

section {
    min-height: var(--height-section);
    grid-area: body_section;
    padding: 20px;
    width: 100%;
    min-height: 100%;
    /* background-color: #0000003e; */
    /* overflow-x: hidden; */
    /* position: relative; */
}


/* HEADER */

/* .header_item {
    border-radius: 10px;
    background-color: var();
    padding-inline: 10px;
    padding-block: 10px;
    text-decoration: none;
    color: white;
} */

/* ASIDE */

aside.general_element {
    background-color: var(--colorbg2);
    display: flex;
    grid-area: body_aside;
    flex-direction: column;
    width: var(--width-aside);
    overflow-y: auto;
    z-index: 99999;
    gap: 20px;
    height: 100%;
    max-height: 100vh;
    min-height: 100vh;
    height: 100vh;
    border-right: var(--color-border1);
    padding: 10px;
    justify-content: flex-start;
}

.aside_item {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    color: #fff;
    border: var(--color-border1);
    height: auto;
    /* height: 40px; */
    /* grid-template-columns: 1fr 1.5fr; */
    /* aspect-ratio: 1 / 1; */
    border-radius: 10px;
    width: 100%;
    gap: 5px;
    padding-block: 5px;
    padding-top: 7px;
}

.aside_item p {
    padding: 0;
    margin: 0;
    justify-self: flex-start;
    font-size: 90%;
}

.aside_item i {
    font-size: 145%;
}

.aside_item:hover  {
    border: 1px solid var(--color3);
    color: var(--color3);
}

/* SECTION */

section.general_element {
    color: white;
    overflow-y: auto;
    height: 100vh;
    flex-direction: column;
    /* overflow-x: hidden; */
}

.container_title {
    align-self: flex-start;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.container_title .title {
    font-size: 24px;
}

.container_grid {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    width: 100%;
    height: 100%;
    gap: 10px;
}

.container_list {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
    width: 100%;
}

.container_wrap {
    gap: 10px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.button {
    background-color: grey;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 5px;
    padding-inline: 15px;
    gap: 10px;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

.btn_insert {
    background-color: #00b84c;
}

.clickable-modal {
    cursor: pointer;
}

.buttons_modal {
    display: flex;
    gap: 20px;
    align-items: center;
}

.close_modal {
    --color: #ff1414;
}

.submit_modal {
    --color: #3dff81;
}

.modal_space {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 9999;
    background-color: #0000005e;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
}

.modal_space.active {
    display: flex;
}

.modal_dialog {
    background-color: var(--colorbg1);
    padding: 10px;
    padding-inline: 20px;
    border-radius: 10px;
    z-index: 99999;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 700px;
}

.modal_form {
    padding-bottom: 20px;
}

.modal_form > * {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal_header {
    font-size: 155%;
}

.modal_footer {
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-direction: row !important;
}

.modal_footer > .button {
    height: 30px;
    background-color: color-mix(in srgb, var(--color) 10%, transparent 100%);
    border: 1px solid var(--color);
    color: var(--color);
    width: 100%;
}

.modal_body {
    display: grid;
    width: 100%;
    /* justify-items: center; */
    grid-template-columns: repeat( 2, auto );
}

.form_field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form_field *:not(label) {
    height: 30px;
    border-radius: 3px;
    border: 1px solid #ffffff5a;
    background-color: transparent;
    padding-inline: 10px;
    padding-block: 5px;
    width: 100%;
    color: white;
}

.form_field input[disabled] {
    background-color: #ffffff1f;
    color: white;
}




option {
    color: rgb(0, 0, 0) !important;
}

option[selected] {
    color: rgb(255, 255, 255);
}

.inputUpdateColor {
    --minsizeinput: 7px;
    --maxsizeinput: 15px;
    --sizeinput: 10px;
    --diff: 10px;
    position: absolute;
    top:  5px ;
    left: 10%;
    /* top: calc( var(--sizeinput) - var(--diff) ); */
    /* left: calc( var(--sizeinput) + var(--diff) ); */
    border-radius: 500px;
    aspect-ratio: 1 / 1;
    height: var(--sizeinput);
    width:  var(--sizeinput);
    min-width:  var(--minsizeinput);
    min-height: var(--minsizeinput);
    max-width:  var(--maxsizeinput);
    max-height: var(--maxsizeinput);
    z-index: 99;
    border: 1px solid rgba(190, 190, 190, 0.779);
    padding: 0;
}

.inputUpdateColor::-webkit-color-swatch-wrapper { 
    padding: 0; 
}

.inputUpdateColor::-webkit-color-swatch { 
    border: none; 
    border-radius: 5px; 
}



@media (max-width: 600px) {
    .general_body {
        min-height: 80vh;
    }

    aside {
        width: 60px;
    }

    .aside_item {
        font-size: 70%;
        /* height: 35px; */
        padding-block: 10px;
    }
    
    .aside_item p {
        display: none;
    }
}
